$primary-icon-color:rgb(75, 71, 71);
$primary-color:rgb(255, 136, 0);
$secondary-color:rgb(250, 244, 244);
//### resets###
html{
    box-sizing:border-box;
}
*, *:before, *:after{
    box-sizing:inherit;
} 

body{
    margin:0;
    font-family: 'Noto Sans', sans-serif;
    overflow-x:hidden;   
}
a{
    text-decoration:none;
    color:inherit;
}
ul{
    list-style:none;
}


//**start of the menu bar 
nav{
    margin:12px;
    div.burger{
        width:25px;
        div{
            background-color:$primary-icon-color;
            width:24px;
            height:5px;
            margin:5px;
            border-radius:9px;
        }
    }
    
    .logo{
        width:109px;
        position:relative;
        left:60px;
        bottom:40px;
    }
    .dot-bar{
        position:relative;
        left:60%;
        bottom:3.1rem;
        font-size:1.7rem;
        color:rgb(77, 73, 73); 
    }
    .contacts-signin{
       display:absolute;
       ul{
           position:relative;
           bottom:50px;
       }
    }
}
//### end of the menu bar###

//***start of the carousel section###
.carousel-section{
    position:relative;
    bottom:60px;
    color:$secondary-color;
    font-weight:bold;
    position:relative;
    .carousel{
        background-image: url('media/bmw3.jpg');
        background-size:100% 80% ;
        background-repeat:no-repeat;
        padding:20%;
        position:relative;
        top:20px;

        .mobile-menu{
            list-style:none;
            top:0%;
            background-color:rgb(252, 248, 248);
            color:rgb(241, 236, 236);
            z-index:12;
            position:fixed;
            width:70%;
            height:130%;
            bottom:195em;
            right:30vw;
            margin-right:15%;
            padding:14%;
            padding-left:20%;
            display:0;
            .menu{
               // list-style:none;
               font-size:0.7em;
               position:relative;
               .active{
                   background-color:$primary-color;
                   padding:0.1px;
                   width:223%;
                   position:relative;
                   right:60px;
                   margin-bottom:12px;
                   
                        a{
                            color:$secondary-color;
                            margin:10px;
                            width:10px;
                }
                }
                li{    
                    padding-bottom:40px;
                    position:relative;
                    right:50px;

                    &:hover{
                        background-color:$primary-color;
                        color:$secondary-color;
                        position:relative;
                        right:60px;   
                      }  
                    a{
                    color:rgb(121, 119, 119);
                    display:block;                    
                    }
                }
            }
            .close{
                position:relative;
                bottom:330px;
                color:rgb(122, 116, 116);
                left:120%;
                font-size:18px;
            }
        }
        .contacts-signin{
            background-color:rgb(241, 236, 236);
            position:absolute;
            bottom:70%;
            z-index:1;
            left:28%;
            font-size:10px;
            width:70%;
            height:30%;
            padding-bottom:30px;
            display:none;
            ul{
                li{
                    padding-top:px;
                    padding:5px;
                    margin-right:15%;
                    a{
                        color:rgb(136, 133, 133);
                        text-decoration:underline;
                    }
                }
            }
        }
    }
    .carousel-text{
        position:relative;
        right:25%;
        bottom:40px;
        box-sizing:content-box;
        .dream-car{
            font-size:1.4rem;     
        }
        .bmw{
            font-size:2.5rem;
            padding-top:10px;
            padding-bottom:10px;
        }
        .model{
            font-size:1.4rem;
            padding-right:5%;
        }
        .price{
            padding-left:25px;
            color:$primary-color;
            background-color:$secondary-color;
            padding:6px;
            padding-right:5%;
            padding-left:5%;
            margin-left:1%;
        }
        .see-details{
            background-color:$secondary-color;
            width:150px;
            margin-top:35px;
            padding-left:10px;

           // padding-left:2%; 
            a{
                color:$primary-color;
                font-size:0.9em;
            }

            .fa-angle-right{
                background-color:$primary-color;
                padding:10%;
                padding-right:15.8px;
                margin-left:28px;
                transition:rotate(180deg);
            }
        }

    }
}