body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-container nav {
  border-bottom: 1px solid #e2dfdf;
  -webkit-box-shadow: 5px 5px 19px lightgray;
          box-shadow: 5px 5px 19px lightgray;
}

.nav-container nav .addressAndLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #090920;
  color: mintcream;
  height: 60px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  padding-left: 100px;
  /*.signin{
               padding-right:20px;
               padding-left:600px;
               padding-top:15px;
           }*/
  /*.register{
               padding-left:14px;
               padding-top:15px;   
            }*/
}

.nav-container nav .addressAndLogin .tel1 {
  position: absolute;
  left: 5px;
}

.nav-container nav .addressAndLogin .tel2 {
  padding: 0;
  padding-left: 28px;
  position: relative;
  bottom: 17.7px;
}

.nav-container nav .addressAndLogin .account {
  position: relative;
  left: 45%;
}

.nav-container nav .addressAndLogin a {
  text-decoration: none;
  color: mintcream;
}

.nav-container nav .addressAndLogin a:hover {
  font-size: 15px;
}

.nav-container nav .addressAndLogin span {
  padding-top: 15px;
}

.nav-container nav .logo {
  width: 15vw;
  margin-left: 10%;
  margin-bottom: -7%;
}

.nav-container nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  float: right;
  margin-right: 30px;
  font-size: 17px;
}

.nav-container nav .menu a {
  text-decoration: none;
  padding-left: 25px;
  color: #484c50;
}

.nav-container nav .burger {
  position: relative;
  bottom: 20%;
}

.nav-container nav .burger div {
  background-color: #666868;
  margin: 1%;
  height: 0.5vh;
  width: 5%;
  display: none;
}

.carousel-container-sec {
  position: relative;
  top: 3vh;
  max-height: 60vh;
  background-image: url("media/bmw3.jpg");
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.carousel-container-sec .carousel-text {
  color: mintcream;
  font-weight: bold;
  height: 20%;
  margin-bottom: 10%;
}

.carousel-container-sec .carousel-text div {
  padding: 20px;
}

.carousel-container-sec .carousel-text .dream-car {
  font-size: 20px;
}

.carousel-container-sec .carousel-text .bmw-m5 {
  font-size: 30px;
}

.carousel-container-sec .carousel-text .model {
  font-size: 20px;
}

.carousel-container-sec .carousel-text .model span {
  margin-left: 40px;
  background-color: #eee5e5;
  padding: 10px;
  color: #f58504;
}

.carousel-container-sec .carousel-text .see-details-button {
  background-color: #e7e4e1;
  display: inline;
  position: relative;
  color: #f58504;
  top: 9%;
}

.carousel-container-sec .carousel-text .see-details-button span {
  background-color: #f58504;
  padding: 20px;
  color: mintcream;
}

.carousel-container-sec .select-form {
  position: relative;
  left: 17%;
  background-color: white;
  opacity: 0.7;
  width: 30%;
  padding-bottom: 5%;
}

.carousel-container-sec .select-form select {
  padding: 2%;
  padding-right: 65%;
  margin: 5%;
  margin-left: 9%;
  position: relative;
  right: 15px;
  top: 3vh;
  background-color: white;
  border: 1px solid gray;
}

.carousel-container-sec .select-form select option {
  background-color: #d8cbcb;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
}

.carousel-container-sec .select-form .filter-button {
  background-color: #f58504;
  position: relative;
  padding: 10px;
  color: white;
  border: none;
  width: 70%;
  margin-left: 40px;
  margin-top: 3vh;
}

.carousel-container-sec .select-form .filter-button .fa-long-arrow-alt-right {
  padding-left: 7px;
  font-size: 10px;
}

.carousel-container-sec .mobile-menu-container {
  position: relative;
  right: 70%;
  height: 50vh;
  width: 55%;
  background-color: white;
  opacity: 0.9;
  -webkit-transition: opacity 5s ease-in;
  transition: opacity 5s ease-in;
  -webkit-animation-name: mobile-opacity;
          animation-name: mobile-opacity;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes mobile-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes mobile-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.9;
  }
}

.carousel-container-sec .mobile-menu-container i {
  position: relative;
  top: 5%;
  left: 85%;
  font-size: 40px;
  color: #838080;
}

.carousel-container-sec .mobile-menu-container .mobile-menu {
  position: relative;
  left: 30%;
  list-style: none;
}

.carousel-container-sec .mobile-menu-container .mobile-menu li {
  padding-top: 5%;
}

.carousel-container-sec .mobile-menu-container .mobile-menu li a {
  text-decoration: none;
  color: #f58504;
}

@media (max-width: 946px) {
  .nav-container nav .burger div {
    display: block;
  }
  .nav-container nav ul.menu {
    display: none;
  }
  .carousel-container-sec .select-form {
    display: none;
  }
}
/*# sourceMappingURL=vox.css.map */