$primary-icon-color:rgb(75, 71, 71);
$primary-color:rgba(255, 81, 0, 0.863);
$secondary-color:rgb(250, 244, 244);
$content-separate:40px;


@mixin carousel-buttons-utils{
    background-color:black;
    padding:2%;
    opacity:0.8;
    font-size:1.5em;
    border-radius:3px;
}

@mixin horizontal-line{
    background-color:rgb(107, 100, 100);
    width:100%;
    height:1px;
    margin:auto;
}

@mixin on-img-hover{
    filter:grayscale(70%);
    box-shadow: 7px 7px 7px gray;
    border-radius:5px;
    transition:width 0.3s;
    width:102%;
}
//### RESETS###
html{
    box-sizing:border-box;
}

*, *:before, *:after{
    box-sizing:inherit;
} 

body{
    margin:0;
    font-family: 'Pavanam', sans-serif;
    font-size:0.9em;
    overflow-x:hidden;  
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}
.horizontal-line{
    @include horizontal-line;
    margin-top:23px;
}
//###  END OF THE RESETS

.bug-warning{
    overflow-x:hidden;
    padding:1.5%;
    font-size:1.3em;
    color:rgb(73, 64, 64);
    background-color:lightgray;

    .close, .continue{
        border:none;
        padding:1.7%;
        border-radius:3px;
        color:white;
    }

    .close{
        margin-right:1%;
        background-color:$primary-icon-color;
    }
    
    .continue{
        background-color:$primary-color;
    }
}

//**START OF THE NAV SECTION***
nav{
    margin:15px;
    padding-top:0%;
    //THE COMPANY CONTACTS AND REGISTER / SIGNIN
    .contacts-signin-desktop{
        margin-right:-50px;
        margin-left:-20px;
        display:none;
        background-color:$primary-color;
        color:$secondary-color;
        position:relative;
        bottom:65px;
        padding:1%;
        padding-left:10%;
        padding-top:2%;
        font-size:1.5em;
    }
    /* //THE COMPANY CONTACTS AND REGISTER / SIGNIN MOBILE
    .contacts-signin{
        //display:none;
        ul{
            position:relative;
            bottom:0px;
        }
     }*/
    
    //MOBILE MENU BAR CUSTOM ICON
    div.burger{
        width:25px;

        div{
            background-color:$primary-icon-color;
            width:43px;
            height:7px;
            margin:6px;
            margin-left:-3px;
            border-top-left-radius:9px;
            border-bottom-right-radius:9px;
            position:relative;
            bottom:2px;
        }
    }
    // LOGO STYLES
    .logo{
        width:140px;
        position:relative;
        left:65px;
        bottom:50px;
    }

    //MOBILE MENU ICON STYLES
    .menu-icons{
        position:relative;
        top:5px;
        padding-right:3px;
        
    }
    .contacts-signin{
        background-color:rgb(241, 236, 236);
        position:absolute;
        bottom:17pc;
        z-index:2;
        left:43%;
        font-size:10px;
        width:70%;
        height:30%;
        padding-bottom:25%;
        display:none;
        animation-name:slide-in;
        animation-duration:0.4s;

        //animation for the slide in
        @keyframes slide-in{
            from{left:50pc};
            to{right:50pc}
        }
        //CONTACTS MENU LIST
        ul{
            li{
                padding:2px;
                padding-top:10px;
                position:relative;
                margin-right:18%;
                animation-name:slick-slide;
                animation-duration:1s;

                @keyframes slick-slide{
                   from{right:90px;} 
                   to{right:0;}
                }

                a{
                    color:rgb(136, 133, 133);
                    text-decoration:underline;
                }
            }
        }
    }

    .desktop-menu{
       display:none; 
    }
    //THREE DOT CUSTOM ICON(APPEARS ON MOBILE)
    .dot-bar{
        position:relative;
        bottom:100px;
        width:10px;
        left:96%;
        div{
            background-color:$primary-icon-color;
            width:9px;
            height:8px;
            margin-bottom:4px;
            border-radius:100%;
        }
    }
}
//### END OF THE NAV SECTION ##


//***START OF THE CAROUSEL SECTION***
.carousel-section{
    position:relative;
    bottom:85px;
    color:$secondary-color;
    font-weight:bold;

    .carousel{
        //margin-right:-1.9%;
        background-image: url('./media/dodge-charger3.gif');
        background-size:100% 80% ;
        background-repeat:no-repeat;
        padding:20%;
        position:relative;
        top:20px;
        overflow:hidden;
        max-height:700px;
        animation-name:appear;
        animation-duration:2s;
        
        //MOBILE MENU LIST WHEN THE MENU BAR IS CLICKED
        .mobile-menu{
            list-style:none;
            top:0%;
            background-color:rgb(252, 248, 248);
            color:rgb(235, 223, 223);
            opacity:0.9;
            z-index:5;
            position:fixed;
            width:70%;
            height:160%;
            bottom:195em;
            right:30vw;
            margin-right:15%;
            padding:14%;
            padding-left:20%;
            display:none;
            animation-name:slide-the-menu;
            animation-duration:0.3s;

            //ANIMATION FOR SLIDING THE MENU FROM LEFT TO RIGHT
            @keyframes slide-the-menu{
                from{right:90vw};
                to{right:30vw}
            }
            
            // UL TAG CLASS NAME
            .menu{
               font-size:0.7em;
               position:relative;
                
               //MOBILE VERSION OF THE FILTER SEARCH
                .menu-search{
                    a{
                        i{
                            //font-size:13px;
                            padding-left:-5px;
                        }
                    }
                }

                li{    
                    padding-bottom:15px;
                    position:relative;
                    right:30px;
                    animation-name:smooth-in;
                    animation-duration:1.4s;

                    //ANIMATION FOR THE INDIVIDUAL MENU LIST 
                    @keyframes smooth-in{
                        from{left:20px};
                        to{left:-30px}
                    }

                    a{
                    color:rgb(121, 119, 119);
                    display:block;

                        .mobile-menu-icons{
                           position:relative;
                           top:13px; 
                           padding-right:10px;
                        }                    
                    }
                    
                }
            }
            //X ICON FOR CLOSING THE MOBILE MENU
            .close{
                position:absolute;
                left:90%;
                top:40px;
                color:rgb(122, 116, 116);
                font-size:20px;
            }
        }
        //### END OF THE MOBILE MENU CONTAINER ###

        //***START OF THE CONTACTS AND SIGNIN CONTAINER ***
        
    }
    //###END OF THE CONTACTS AND SIGININ CONTAINER###

    //**START OF THE CAROUSEL-BUTTONS CONTAINER(ONLY VISIBLE ON LARGE DEVICES)***
        .carousel-buttons{
          display:none;
          overflow-x:hidden;

          .button-left{
              float:left;
              @include carousel-buttons-utils;
              position:absolute;
              z-index:3;
              top:30%;
              right:94.5%;
              padding-left:20em;
            }

            .button-right{
              float:right;
              @include carousel-buttons-utils;
              position:absolute;
              left:93%;
              top:29%;
              padding:3%;             
            }
    }
    //### End of the carousel buttons container

    //***CAROUSEL TEXT CONTAINER***
    .carousel-text{
        position:relative;
        right:25%;
        bottom:40px;
        box-sizing:content-box;

        .dream-car{
            font-size:1.4rem;     
        }

        .Car-brand{
            font-size:2.5rem;
            padding-top:10px;
            padding-bottom:10px;
        }

        .model{
            font-size:1.4rem;
            padding-right:5%;
        }

        .price{
            padding-left:25px;
            color:$primary-color;
            background-color:$secondary-color;
            padding:6px;
            padding-right:5%;
            padding-left:5%;
            margin-left:1%;
        }

        .see-details{
            background-color:$secondary-color;
            width:110px;
            margin-top:30px;
            height:55px;
            max-height:40px;
            padding-left:5px;

            a{
                color:$primary-color;
                font-size:0.9em;
                position:relative;
                left:0px;
                bottom:17px;
            }

            .right-arrow{
                position:relative;
                left:10px;
                background-color:$primary-color;
                padding:8px 10px 9px 0px;
                transition:rotate(180deg);
            }
        }

    }
    //DESKTOP VERSION OF THE FILTER SEARCH FORM
    .filtered-search-form{
        background-color:rgb(199, 199, 199);
        opacity:0.8;
        padding:12px;
        position:relative;
        left:33%;
        bottom:30vh;
        z-index:5;
        display:none;

        select{
            width:100%;
            background-color:lightgray;

            option{
                width:10%;
            }
        }

        .filter-range{
            width:100%;
        }

        .filter-button{
            margin-left:30%;
            background-color:$primary-color;
            color:$secondary-color;
            border:none;
            padding:7px;
            padding-right:25px;
            padding-bottom:15px;
        }
        .submit-icon{
            position:relative;
            top:7px;
            left:10px;
        }
    }
    //###END OF THE CAROUSEL TEXT###
    
    //ROUND CAROUSEL NAVIGATORS
    .carousel-nav{
        position:relative;
        bottom:33px;
        left:55px;
        padding:10px;
        font-size:1.3em;
    }
}
//### END OF THE CAROUSEL SECTION ###


//***REVIEW SECTION ***
.reviews{
    margin:12px;
    position:relative;
    bottom:80px;
    .review-stars{

        i{
            color:$primary-color;
        }
    }

    //FIRST REVIEW BLOCK
    .review1{
        .review-img{
            width:100%;
            &:hover{
              @include on-img-hover;  
            }
        }

        //NAME OF THE REVIEWER
        .reviewer{
            font-size:12px;
            color:rgb(116, 113, 113);
        }

        //TEXT IN THE REVIEW
        p{
            color:rgb(116, 113, 113);
            font-size:14px;
        }

        //READ MORE BUTTON
        .read-more{
            background-color:$primary-icon-color;
            color:$secondary-color;
            padding:10px;
            font-size:10px;

            .read-more-icon{
                background-color:$primary-color;
                padding:11.4px;
                padding-bottom:12.4px;
                position:relative;
                left:12px;
                top:0.4px;
            }
        }
    }
    //SECOND AND THIRD REVIEW BLOCKS
    .of-review2, .of-review3{
        padding-top:50px;
    }
}
//### END OF THE REVIEW SECTION###

.poster{
    background-image: url('media/longroad.jpg');
    background-size:100% 100%;
    background-repeat:no-repeat;
    color:$secondary-color;
    text-align:center;
    padding:10px;

    img{
        width:30%;
    }

    .poster-text{
        margin-right:17%;
        margin-left:17%;

        .welcome{
            font-size:10px;
        }

        .needs{
            font-size:2em;
            font-weight:bold;
        }

        p{
            font-size:0.9em;
        }

    }
   
}
//***START OF THE BEST OFFER SECTION***

h2{
    text-align:center;
    font-size:1em;
    color:rgb(99, 96, 96);
    font-weight:bold;
    padding-top:$content-separate;
}

//***START OF THE OFFER CATEGORY ***
.offers-category{
    padding-top:$content-separate;
    text-align:center;

   div{
       cursor:pointer;
       &:hover{
           color:rgb(141, 134, 134);
           text-decoration:underline;
       }
   }
    hr{
        width:70%;
    }
    
}
///### END OF THE OFFER CATEGORY###

//***MOST RESEARCHED LIST
.list-offers{
   border-left:5px solid rgb(197, 196, 196);
   margin:9%;
   border-bottom:1px solid lightgray;
   color:rgb(109, 105, 105);
   font-weight:bold;

   li{
       padding:6%;
       border-top:1px solid rgb(196, 196, 196);
       position:relative;
       right:40px;
    }     
}

//CAR PROMO LIST CONTAINER
.latest-on-sale{
    margin:5%;

   .car-offer-img{
    width:90vw;   
    height:55vh;

        &:hover{
            @include on-img-hover;    
        }
    }
    
    //PROMO CAR BLOCK CONTAINER
    .car-offer{
        
        //width:100%;
        h6{
            position:relative;
            bottom:20px;
            font-weight:lighter;
            color:gray;
            font-style:italic;
        }

        h5{
            position:relative;
            bottom:2vh;
        }

        .car-offer-price{
            color:$primary-color;
            padding-left:5px;
            font-weight:bold;
        }
        
        .fa-dollar-sign, .car-offer-price{
           position:relative;
           bottom:30px;
        }

        .fa-road, .km{
            position:relative;
            left:43%;
            bottom:7vh;
        }

        ul{
            display:flex;
            color:gray;
            justify-content:space-between;
            position:relative;
            right:27px;
            font-size:0.7em;
            bottom:35px;
            li{
                padding-right:23px;
            }
        }
    }
}

//***SECOND BILLBOARD*** 
.poster2{
    background-image: url('media/carShowRoom.jpg');
    background-size:100% 100%;
    background-repeat:no-repeat;
    height:600px;
    color:white;
    //margin-right:-1.9%;
    .ring-border{
        padding:12px;
        position:relative;
        top:10%;
        .card{
            background-color:black;
            opacity:0.8;
            text-align:center;
            padding:20px;
            position:relative;
            bottom:2em;
            hr{
                width:5%;
            }
            ul{
                li{
                    &:hover{
                        text-decoration:underline;
                    }
                }
            }
        }
    }
    
}
//###END OF THE SECOND BILLBOARD CONTAINER###

//CAR UTILITIES AND USED CAR BLOCK
.inventory{
    text-align:center;
    div{
        padding-top:4%;
    }
    hr{
        width:40%;
    }
    i{
        font-size:3.5em;
        color:rgb(54, 49, 49);
    }
}

//CAR OWNER TESTIMONIAL SECTION
.owner-comments-section{
    width:100%;
    font-family: 'Quicksand', sans-serif;
    .owner-comments{
        background: url('media/whitebackground.jpg');
        background-size:100% 100%;
        background-repeat:no-repeat;
        //margin-right:-1.9%;
        margin-top:5%;
        padding-bottom:20%;

        .owner-profile{
            position:relative;
            top:5vh;
            border-left:none;
            border-radius:20px;
            padding-left:5%;
            padding-right:5%;
            padding-top:5%;
            margin-left:6%;
            margin-right:6%;


            .owner-img{
                margin-left:25%;
                height:15vh;
                width:95px;
                border-radius:50%;

            }

            .owner-info{
                margin:auto;
                width:10pc;
                font-size:0.7em;

                span{
                    font-weight:bold;
                    font-size:1em;
                    padding-right:2%;
                    color:rgb(0, 0, 0);
                }  
            }

            .testimonial{
                position:relative;
                font-weight:lighter;
            }  
       }
    }
}

.newsAndGallery{
    background-color:rgb(49, 46, 46);
    color:gray;
    padding:15px;
    font-family: 'Quicksand', sans-serif;
    h3, a, h5{
        color:white
    }

    a{
        font-size:0.8em;
    }

    .contact-socials{
        padding-top:3pc;
        ul{
            h3{
                position:relative;
                right:40px;
            }
            li{
                margin-bottom:14px;
            }
        } 
    }
    .gallery{
        margin-right:25%;
        .gallery-grid{
            display:grid;
            grid-template-columns:repeat(2,130%);
            width:50%;
            .gallery-img{
                width:100%;    
            }
       }
    }

}
footer{
    background-color:rgb(26, 21, 21);
    color:gray;
    padding-left:10%;
    ul{
        display:grid;
        grid-template-columns:repeat(6,11%);
        gap:26px;
        position:relative;
        right:5pc;
        li{
            text-align:center;
            a{
               
            }
        }
    }
    i{
       padding-left:8%;
       padding-top:5%;
       font-size:5vw;
       &:hover{
           color:$primary-color;
       } 
    }
    .footer-logo{
        width:40%;
        margin-left:15%;
        padding-top:8%;
    }
    .copy-right{
       padding-top:20%;
       text-align:center;
       padding-bottom:10%;
        
    }
}

//*** media queries***

//landscape mobile devices an small tablets
@media(min-width:500px){
    //***start of the carousel section***
    .carousel-section{
        .carousel{
            .mobile-menu{
                .menu{
                    li{
                        padding-bottom:5px;
                    }    
                    .active{
                        width:193%;
                    }
                }
                .close{
                    bottom:17pc;
                }
            }  
        }
        .carousel-nav{
            display:none;
        }
        .carousel-buttons{
            display:inline;
        }
    }
    //###end of the carousel section ###
    
    nav{
        .contacts-signin{
            bottom:-2px;
        }
    }
    //***start of the reviews ***
    .reviews{
        display:grid;
        grid-template-columns:repeat(3,1fr);
        grid-auto-rows:minmax(100px,auto);
        gap:15px;
        
        .of-review2, .of-review3{
            padding-top:0;
        }
        .of-review3{
            .read-more{
                margin-bottom:10px;
            }

        }
    }
    //### end of the reviews section###
    .owner-comments-section{
        .owner-comments{
            
            .owner-profile{

                .owner-img{
                    margin-left:40%;  
                }
                /*.owner-info{
                    position:relative;
                    left:34%; 
                }*/  
           }
        }
    }
    
}


//###landscape mobile devices an small tablets###

@media(min-width:1042px){
    div.burger{
        display:none;
    }
    //****nav section that controls the desktop menu***
    //###end of the nav section###
    .carousel-section{
        .carousel{
            .mobile-menu{
                display:none;
            }
        }
        .desktop-filter-search{
            display:inline-block;
            position:absolute;
            top:2%;
            padding:1%;
            padding-top:30px;
            padding-bottom:38%;            
            bottom:19.5pc;
            left:36pc;
            width:40%;
            select{
                padding:2%;
                margin:7%;
                width:90%;
            }
            .filter-range{
                width:80%;
                position:relative;
                left:14%;
                display:block;
            }
            .reset-filter{
                text-decoration:underline;
                font-weight:lighter;
                position:relative;
                //right:42%;
                color:black;
                font-size:0.5em;
            }
            .filter-button{
                position:relative;
                right:10%;
                top:3vh;
                width:65%;
            }
        }
    }

    nav{
      padding-top:40px;
      padding-bottom:10px;
      font-size:0.8em;
      .second-nav-container{
          height:80px;
      }
      .desktop-menu{
        display:flex;
        position:relative;
        bottom:5em;
        font-size:1.2rem;
        left:27vw;
        color:gray;
        li{
            padding-right:5%;
            position:relative;
            bottom:15px;

            #active{
                border-bottom:2px solid $primary-color;
            }

            a{
                margin-right:15px;
                &:hover{
                    color:$primary-color;
                }
            }
        } 
      } 
      .dot-bar{
        display:none;
       }
       //**start of the contacts-signin-desktop** 
       .contacts-signin-desktop{
            display:block;

            a{
                margin-right:2%;
            }
            .fa-facebook-f, .fa-twitter, .fa-google-plus-g{
                display:none;
            }

            .SignRegister{
                position:relative;
                left:85%;
                text-decoration:underline;
            }               
        }
        //###end of the contacts-signin-desktop### 
    }

    .poster2{
        .ring-border{
            top:25%;
            border:2px solid rgb(0, 0, 0);
            margin-right:15%;
            margin-left:15%;
            .card{
                .poster2-text{
                    display:grid;
                    grid-template-columns:400px 300px;
                   poster-para{
                       margin-left:60px;
                       color:red;
                   }
                }
            }
        }
    }

    .newsAndGallery{
        display:grid;
        grid-template-columns:repeat(3,35%);
        padding-left:4%;
        
    }
    .inventory{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        box-shadow:5px gray;
        i{
            padding-right:10px;
        }
        hr{
            display:none;
        }
    }

    .newsAndGallery{
        display:grid;
        grid-template-columns:repeat(3,33%);
        padding-left:4%;

        .contact-socials{
          padding:0; 
          display:flex;
          ul{
              h3{
                  right:-3px;
              }
          } 
        }
        .gallery{
            .gallery-grid{
                
                .gallery-img{
                }
            }
        }
    }
    
}


@media(min-width:1208px){
    .carousel-section{
    
        .desktop-filter-search{
            .reset-filter{
                right:45%;
            }
        }
    }    
            

    //**start of the sub-section class ***
    //**start of the offers category***
    .offers-category{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        hr{
            display:none;
        }
    }
    //### end of the offers category
     
    //**start of the sub section***
    .sub-section{
        display:grid;
        grid-template-columns:450px 870px;
        grid-gap:auto;
        .latest-on-sale{
            display:grid;
            grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
            grid-auto-rows:minmax(100px, auto);
            grid-gap:5px;
            .car-offer{
                margin-right:60px;
                .car-offer-img{
                    width:115%;
                    height:45vh;
                }
            }
        }
        .car-offer{
            font-size:1em;
            .fa-road, .km{
                left:50%;
                font-size:0.7em;
                position:relative;
            }
        }
    }
    //###end of the sub-section class ###
    .inventory{
        grid-template-columns:repeat(4, 1fr);
    }

}

@media(min-width: 1378px){

    .carousel-section{    
        .desktop-filter-search{
           position:absolute;
           bottom:55pc;
           width:40%;
           left:47pc;
           padding-bottom:32%;
           margin-top:-12px;
           box-sizing:border-box;

           .reset-filter{
               position:relative;
               right:40%;
           } 
        }
    } 

}

@media(min-width:1666px){
    .carousel-section{

        .carousel{
            .desktop-filter-search{
                padding-bottom:30%;
                width:30%;
            }
        }
    }
}
